
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: #2C2F33;
  font-family: 'Barlow', sans-serif;
  overflow: hidden;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 100vh;
  background: #ffffff;
}

.window-shadows {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.01), 0 6px 12px 0 rgba(0,0,0,0.01);
  background: #23272A;
}

.invert-window-shadows {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.01) inset, 0 6px 12px 0 rgba(0,0,0,0.01) inset;
}

.title {
  padding: 20px 0 10px 0;
  text-align: center;
  font-weight: 500;
}

  .title span {
    line-height: 20px;
    height: 20px;
  }

.servers {
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
}

  .servers::-webkit-scrollbar {
    display: none;
  }

  .servers .server {
    background-color: rgba(0,0,0,0.02);
    width: 60px;
    height: 60px;
    margin: 10px 30px;
    border-radius: 26px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.01) inset, 0 6px 12px 0 rgba(0,0,0,0.01) inset;
    background-position: center;
    background-size: 100%;
    color: #99AAB5;
    text-align: center;
    line-height: 58px;
    font-size: 1.2em;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    position: relative;
  }

    .servers .server span {
      overflow: hidden;
      width: 100%;
      display: block;
      text-overflow: ellipsis;
    }

    .servers .server:hover {
      background-color: #7289DA;
      border-radius: 14px;
      color: white;
      transition: all 0.04s cubic-bezier(.25,.8,.25,1);
    }

main {
  position: absolute;
  left: 160px;
  top: 100px;
  right: 40px;
  bottom: 20px;
  border-radius: 4px;
}

.tooltip {
  position: fixed;
  background: #202225;
  padding: 5px 20px;
  z-index: 100000;
  color: white;
  line-height: 20px;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(.25,.8,.25,1.2);
}

.sub-header {
  position: absolute;
  left: 160px;
  right: 40px;
  top: 0;
  height: 80px;
  background: #23272A;
  padding: 0 20px;
  border-radius: 0 0 4px 4px;
}

  .sub-header .button {
    background: #23272A;
    border: none;
    font: inherit;
    box-shadow: 0 -4px 8px 0 rgba(0,0,0,0.01) inset, 0 -6px 12px 0 rgba(0,0,0,0.01) inset;
    line-height: 20px;
    padding: 5px 30px;
    margin: 25px 10px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 4px;
    float: left;
  }

    .sub-header .button:hover {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.01) inset, 0 6px 12px 0 rgba(0,0,0,0.01) inset;
    }

    .sub-header .button.active {
      background: #7289da;
      color: white;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0), 0 6px 12px 0 rgba(0,0,0,0);
    }

.pageContainer {
  height: 100%;
  width: 100%;
  position: relative;
  float: left;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.4s cubic-bezier(.25,.8,.25,1.42);
  opacity: 0;
  transform: scale(0.95) translateX(140px);
  pointer-events: none;
  display: flex;
  background: #fafafa;
  align-items: flex-start;
}

  .page.stage-0 {
    opacity: 1;
    transform: scale(1) translateX(0px);
    pointer-events: all;
  }

  .page.stage-1 {
    transform: scale(0.95) translateX(0px);
    opacity: 1;
  }

  .page.stage-2 {
    transform: scale(0.95) translateX(140px);
    opacity: 0;
  }

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

  .loader h3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    line-height: 30px;
    height: 30px;
    opacity: 0;
    transition: 0.2s;
  }

  .loader .spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Vector_Loading.svg/2000px-Vector_Loading.svg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    animation: spin 1s infinite cubic-bezier(.25,.4,.25,.4);
    opacity: 0.6;
  }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mainContent {
  opacity: 0;
  transition: 0.2s;
}

.sub-header h2 {
  transition: 0.2s;
  line-height: 78px;
  padding: 0 40px;
  float: left;
  display: block;
}

  .sub-header h2.hide {
    transform: translateX(40px);
    opacity: 0;
  }

.server.active {
  background-color: #7288d9;
  border-radius: 4px;
  color: #ffffff;
  cursor: default;
}

  .server.active:hover {
    border-radius: 4px;
  }

.server:after {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  opacity: 0;
  bottom: 10px;
  width: 8px;
  border-radius: 0 80% 80% 0;
  background: #7289da;
  transition: 0.2s;
  pointer-events: none;
}

.server.active:after {
  left: -30px;
  opacity: 1;
}

header .logout {
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 112px;
}

  header .logout:hover {
    background: #f04747;
    color: white;
  }

.page.roles h3 {
  line-height: 40px;
}

.non-role-product,
.select {
  display: inline-block;
  line-height: 30px;
  border-radius: 2px;
  width: 100%;
}

  .select::-webkit-scrollbar {
    display: none;
  }

  .non-role-product .option,
  .select .option {
    position: relative;
    padding: 0 20px 0 20px;
    cursor: pointer;
    border: 1px solid #dfdfdf;
    margin: 0 4px;
    height: 34px;
    width: calc(100% - 8px);
    float: left;
    border-radius: 4px;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1.62);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.01), 0 6px 12px 0 rgba(0,0,0,0.01);
    background: white;
  }

  .select.notAdded .option:before {
    content: 'NOT ADDED';
    position: absolute;
    right: 10px;
    top: 8px;
    background: #f04747;
    height: 14px;
    padding: 0 4px;
    font-size: 0.7em;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    line-height: 14px;
  }

  .select.notAdded {
    margin-top: 20px;
  }

  .select .option:before {
    content: 'ACTIVE';
    position: absolute;
    right: 10px;
    top: 8px;
    background: #43b581;
    height: 14px;
    padding: 0 4px;
    font-size: 0.7em;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    line-height: 14px;
  }

  .non-role-product .option:after,
  .select .option:after {
    content: '';
    position: absolute;
    right: 0;
    top: 6px;
    opacity: 0;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ececec;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1.82);
  }

  .non-role-product .option.active,
  .non-role-product .option:hover,
  .select .option.active,
  .select .option:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.01), 0 6px 22px -4px rgba(0,0,0,0.02);
  }

  .non-role-product .option.active,
  .select .option.active {
    transform: scale(1.1) translateX(10px);
    z-index: 99;
  }

  .non-role-product .option:hover,
  .select .option:hover {
    z-index: 100;
  }

  .non-role-product .option.active:after,
  .select .option.active:after {
    opacity: 1;
    right: -12px;
    transform: scale(1.3);
  }

  .non-role-product .option .color,
  .select .option .color {
    height: 12px;
    width: 12px;
    margin: 10px 10px 0 0;
    border-radius: 50%;
    float: left;
  }

  .non-role-product .option span,
  .select .option span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 40px);
    white-space: pre;
    float: left;
  }

.page .formThing {
  margin: 20px;
  width: 300px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.01), 0 6px 12px 0 rgba(0,0,0,0.01);
}

.role_editor {
  transform: translateX(-40px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(.25,.8,.25,1.42);
}

  .role_editor h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    padding: 0 10px;
  }

  .role_editor input[type="text"] {
    padding: 0 10px;
    border: 1px solid #dfdfdf;
    border-right: unset;
    border-left: unset;
    font-family: inherit;
    font-size: 1.1em;
    width: calc(100% - 110px);
    color: #7289da;
    font-weight: bolder;
    line-height: 40px;
  }

  .role_editor select {
    padding: 0 10px;
    border: 1px solid #dfdfdf;
    border-radius: 0 2px 2px 0;
    border-left: unset;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
  }

    .role_editor select:hover {
      background: #fcfcfc;
    }

  .role_editor label {
    padding: 0 10px;
    border: 1px solid #dfdfdf;
    border-radius: 2px 0 0 2px;
    text-align: center;
    line-height: 40px;
    border-right: unset;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1.42);
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
  }

  .role_editor .amount {
    display: flex;
    justify-content: center;
  }

.role_editor {
  padding: 0 10px;
}

  .role_editor h4 {
    padding: 0 10px;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 20px;
  }

  .role_editor .desc textarea {
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin: 4px 0;
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    max-height: 270px;
    min-height: 100px;
    padding: 4px 8px;
    color: #7289da;
    font-weight: bold;
  }

    .role_editor .desc textarea::placeholder,
    .role_editor input[type="text"]::placeholder {
      color: rgba(0,0,0,0.18);
    }

  .delete,
  .role_editor input[type="submit"] {
    background: #43b581;
    border-radius: 4px;
    border: none;
    color: white;
    font: inherit;
    font-weight: bold;
    padding: 0 20px;
    line-height: 30px;
    cursor: pointer;
    float: right;
    margin-top: 8px;
  }

.delete {
  float: left;
  margin-left: 30px;
  margin-top: 0;
  background: #f04747
}

.role_editor input[type="submit"]:hover {
  background: #36393f;
}

.role_editor input[type="submit"]:focus,
.role_editor .desc textarea:focus,
.role_editor select:focus,
.role_editor input[type="text"]:focus {
  outline: none;
}

.page_description h2 {
  line-height: 100px;
}

.page_description p {
  font-size: 1.1em;
  padding: 20px;
}

.page_description img {
  max-width: calc(100% - 20px);
  margin: 10px;
}

.save .delete {
  background: #f04747 !important;
  float: left !important;
  margin-left: 0;
}

* {
  outlinze: 1px solid red;
}

.settings .formThing h3 {
  line-height: 40px;
}

.settings .formThing.paymentInformation {
  transition: all 0.4s cubic-bezier(.25,.8,.25,1.42);
}

.settings .next_billing {
  background: #6b6b6b;
  color: white;
  margin: 10px;
  border-radius: 6px;
  padding: 10px 14px;
  font-size: 1.1em;
}

  .settings .next_billing .amount,
  .settings .next_billing .date {
    font-weight: bolder;
  }

table {
  width: 100%;
  padding: 24px 6px;
}

tr * {
  width: 50%;
  text-align: center;
  padding: 4px 0;
}

  tr *:nth-child(odd) {
    background: #a8a8a8;
    border-radius: 6px;
    color: white;
  }

tr th {
  background: unset !important;
  color: black !important;
}

.paymentInformation.hidden {
  transform: translateX(-100px);
  opacity: 0;
  pointer-events: none;
}

.openPaymentStuff {
  background: #43b581;
  color: white;
  font: inherit;
  border: none;
  padding: 6px 30px;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
}

  .openPaymentStuff:hover {
    background: #36393f
  }

.valueInput {
  border: 1px solid #212121;
  border-radius: 4px;
  margin: 10px;
  line-height: 40px;
  padding: 0 30px;
}

.checkoutLink {
  border: 2px solid #008222;
  border-radius: 4px;
  margin: 10px;
  line-height: 40px;
  padding: 0 30px;
}

.copyCheckoutPage {
  background: #43b581;
  border-radius: 4px;
  border: none;
  color: white;
  font: inherit;
  font-weight: bold;
  padding: 0 20px;
  line-height: 30px;
  cursor: pointer;
}

.updateChannel,
.updateCard,
.updateButton {
  background: #43b581;
  border-radius: 4px;
  border: none;
  color: white;
  font: inherit;
  font-weight: bold;
  padding: 0 20px;
  line-height: 30px;
  cursor: pointer;
}

  .updateChannel:hover,
  .updateCard:hover,
  .updateButton:hover {
    background: #36393f;
  }

td.active {
  background: #7289da;
}

.channelSelection {
  width: 80%;
  margin: 10px;
  padding: 6px 10px;
}

.inviteDonateBot {
  color: rgba(0,0,0,0.4);
  position: absolute;
  left: 200px;
  top: 200px;
  bottom: 200px;
  right: 200px;
  text-align: center;
  line-height: calc(100vh - 400px);
  z-index: 100000;
}

  .inviteDonateBot a {
    color: #7289da;
    text-decoration: underline;
  }

.blurple {
  text-decoration: none;
  color: #7289DA;
}

h3 .linkDonateBot {
  text-decoration: none;
  background-color: #667ED5;
  color: white !important;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer
  }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee
}

.container:hover input ~ .checkmark {
  background-color: #ccc
}

.container input:checked ~ .checkmark {
  background-color: #2196f3
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none
}

.container input:checked ~ .checkmark:after {
  display: block
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.recurring {
  float: left;
  width: 100%;
  height: 58px;
  padding: 6 0px;
  position: relative;
}

  .recurring h4 {
    margin: 0;
    float: left;
    line-height: 28px;
  }

  .recurring .check {
    outline: none;
    border: none;
    margin: 2px;
    float: left;
    margin-left: 10px;
  }

  .recurring .infotext {
    font-size: 0.6em;
    color: #7289da;
    position: absolute;
    bottom: 16px;
    text-align: left;
    line-height: 10px;
    padding-left: 10px;
    width: 100%;
    left: 0;
  }

.roles-container {
  overflow-y: scroll;
  height: 100%;
}

.display-none {
  display: none;
}

.discord-link-color {
  color: #7289DA;
}

.checkout-link-input {
  width: 90%;
}

.pricing-chart {
  padding: 5px;
}

.tos-link {
  color: #7289DA;
}

.nonRoleTitle .title input {
  margin: 0;
  width: 100%;
  border: 1px solid #dfdfdf;
}


.nonRoleTitle .title {
  padding: 10px 5px;
}

.pageContainer .role_selection {
  padding: 0 40px;
  width: 380px;
  background: none;
  overflow: auto;
  height: auto;
  max-height: 600px;
  margin: 20px -20px;
  box-shadow: none;
}

  .pageContainer .role_selection::-webkit-scrollbar {
    display: none;
  }

.webhook-success {
  margin-top: 10px;
}

.webhook-failure {
  margin-top: 10px;
  background: #f04747;
}


.role_selection {
  overflow-y: scroll;
  height: 100%;
}

.select .nonRoleProduct:before {
  content: 'PRODUCT';
  background: #7288d9;
  opacity: 1;
}

.non-role-product {
  position: relative;
}

  .non-role-product .option:before {
    opacity: 1;
    content: '+';
    position: absolute;
    z-index: 1000;
    background: #43b581;
    height: 20px;
    width: 20px;
    line-height: 15px;
    color: white;
    border-radius: 50%;
    font-size: 30px;
    top: 6px;
    left: 10px;
    pointer-events: none;
  }

  .loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.PluginsList{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;width:100%;-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}@media(max-width:640px){.PluginsList{-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}}
.Plugin{cursor:pointer;width:300px;margin-right:20px;margin-bottom:20px;min-height:150px;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;background-color:#2b2f33;border:1px solid rgba(0,0,0,.2);border-radius:3px;-webkit-transition:opacity 175ms ease-out;-moz-transition:opacity 175ms ease-out;-o-transition:opacity 175ms ease-out;-ms-transition:opacity 175ms ease-out;transition:opacity 175ms ease-out;position:relative}@media(max-width:640px){.Plugin{margin-right:0}}.Plugin.inactive{opacity:.6;-ms-filter:"alpha(opacity=60)";filter:alpha(opacity=60)}.Plugin:hover{opacity:1;-ms-filter:none;filter:none}.Plugin:hover .PluginLockContainer{opacity:1;-ms-filter:none;filter:none}.Plugin .PluginLockContainer{width:100%;height:100%;top:0;left:0;position:absolute;background:rgba(0,0,0,.9);opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transition:opacity 175ms ease-out;-moz-transition:opacity 175ms ease-out;-o-transition:opacity 175ms ease-out;-ms-transition:opacity 175ms ease-out;transition:opacity 175ms ease-out;border-radius:3px;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;color:#fff;font-weight:800;font-size:18px;font-family:poppins;text-transform:uppercase}.Plugin .PluginIcon{width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}.Plugin .PluginIcon img{width:100%}.Plugin .PluginLeft{-webkit-box-flex:2;-moz-box-flex:2;-o-box-flex:2;box-flex:2;-webkit-flex:2;-ms-flex:2;flex:2;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.Plugin .PluginRight{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:100px;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}.Plugin .PluginText{margin-left:18px;margin-top:18px;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.Plugin .PluginName{color:rgba(255,255,255,.2);text-transform:uppercase;font-family:poppins;font-size:14px;line-height:1;font-weight:600}.Plugin .PluginDescription{font-family:open sans;font-size:14px;color:#fff;margin-top:4px;line-height:1.4}.Plugin .PluginActions{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;margin-left:18px;margin-top:auto;padding-bottom:15px}.PluginWrapper{width:100%;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;position:relative}.PluginWrapper .PluginConfirmation{z-index:2000;width:1000px;border-radius:3px;background-color:rgba(0,0,0,.9);padding:15px;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;position:fixed;bottom:20px;-webkit-transition:bottom 600ms cubic-bezier(.68,-.55,.265,1.55);-moz-transition:bottom 600ms cubic-bezier(.68,-.55,.265,1.55);-o-transition:bottom 600ms cubic-bezier(.68,-.55,.265,1.55);-ms-transition:bottom 600ms cubic-bezier(.68,-.55,.265,1.55);transition:bottom 600ms cubic-bezier(.68,-.55,.265,1.55)}@media(max-width:640px){.PluginWrapper .PluginConfirmation{width:unset;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}}.PluginWrapper .PluginConfirmation.Confirmation-enter{bottom:-100px}.PluginWrapper .PluginConfirmation.Confirmation-enter.Confirmation-enter-active{bottom:20px}.PluginWrapper .PluginConfirmation.Confirmation-leave{bottom:20px}.PluginWrapper .PluginConfirmation.Confirmation-leave.Confirmation-leave-active{bottom:-100px}.PluginWrapper .PluginConfirmation .PluginConfirmationText{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#fff;font-size:14px;font-weight:600;margin-right:auto}@media(max-width:640px){.PluginWrapper .PluginConfirmation .PluginConfirmationText{margin:auto}}.PluginWrapper .PluginConfirmation .PluginConfirmationButtons{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;margin-left:auto}@media(max-width:640px){.PluginWrapper .PluginConfirmation .PluginConfirmationButtons{margin:auto;margin-top:10px}}.PluginWrapper .PluginConfirmation .PluginConfirmationButtons button{padding:10px;margin-left:10px}.pluginHeading{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;border-bottom:1px solid rgba(255,255,255,.3);padding-bottom:15px}.pluginHeading .pluginIcon{width:50px;height:50px;margin-right:15px}.pluginHeading .pluginIcon img{width:50px;height:50px}.pluginHeading .pluginTitle{font-family:poppins;font-size:20px;font-weight:600;color:#fff;text-transform:uppercase;-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}.pluginHeading .pluginActions{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;margin-left:auto}
.button{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-family:open sans,Helvetica,arial,sans-serif;line-height:1;font-weight:600;cursor:pointer;min-height:32px;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;border-radius:3px;border:0;font-size:14px;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;padding:10px 30px;color:#fff;-webkit-transition:border 180ms ease-out,background 180ms ease-out;-moz-transition:border 180ms ease-out,background 180ms ease-out;-o-transition:border 180ms ease-out,background 180ms ease-out;-ms-transition:border 180ms ease-out,background 180ms ease-out;transition:border 180ms ease-out,background 180ms ease-out;color:#fff;-webkit-transition:border 180ms ease-out,background 180ms ease-out;-moz-transition:border 180ms ease-out,background 180ms ease-out;-o-transition:border 180ms ease-out,background 180ms ease-out;-ms-transition:border 180ms ease-out,background 180ms ease-out;transition:border 180ms ease-out,background 180ms ease-out}.button.brand.default{background-color:#62d3f5}.button.brand.default:hover{background-color:#32c5f2}.button.brand.default:focus{background-color:#0eb1e2}.button.brand.ghost{border:1px solid rgba(98,211,245,.3);color:#62d3f5;background:0 0}.button.brand.ghost:hover{border:1px solid rgba(98,211,245,.5)}.button.brand.ghost:focus{border:1px solid #62d3f5;background-color:rgba(98,211,245,.1)}.button.red.default{background-color:#f04848}.button.red.default:hover{background-color:#ec1d1d}.button.red.default:focus{background-color:#ca1111}.button.red.ghost{border:1px solid rgba(240,72,72,.3);color:#f04848;background:0 0}.button.red.ghost:hover{border:1px solid rgba(240,72,72,.5)}.button.red.ghost:focus{border:1px solid #f04848;background-color:rgba(240,72,72,.1)}.button.yellow.default{background-color:#faa51b}.button.yellow.default:hover{background-color:#e69105}.button.yellow.default:focus{background-color:#be7704}.button.yellow.ghost{border:1px solid rgba(250,165,27,.3);color:#faa51b;background:0 0}.button.yellow.ghost:hover{border:1px solid rgba(250,165,27,.5)}.button.yellow.ghost:focus{border:1px solid #faa51b;background-color:rgba(250,165,27,.1)}.button.black.default{background-color:#000}.button.black.ghost{border:1px solid rgba(0,0,0,.3);color:#000;background:0 0}.button.black.ghost:hover{border:1px solid rgba(0,0,0,.5)}.button.black.ghost:focus{border:1px solid #000;background-color:rgba(0,0,0,.1)}.button.white.default{background-color:#fff;color:#000}.button.white.default:hover{background-color:#d9d9d9}.button.white.default:focus{background-color:#b3b3b3}.button.white.ghost{background-color:transparent;border:1px solid rgba(255,255,255,.3);color:#fff}.button.white.ghost:hover{border:1px solid rgba(255,255,255,.5)}.button.white.ghost:focus{border:1px solid #fff;background-color:rgba(255,255,255,.1)}.button.white.flat{background-color:transparent;border:0;border-bottom:1px solid rgba(255,255,255,.3);color:#fff;padding:0;border-radius:0;font-weight:400;font-size:12px;line-height:1;opacity:.5;-ms-filter:"alpha(opacity=50)";filter:alpha(opacity=50)}.button.white.flat:hover{border-bottom:1px solid rgba(255,255,255,.5)}.button.white.flat:focus{border-bottom:1px solid #fff}.button.green.default{background-color:#44b37f}.button.green.default:hover{background-color:#3a986c}.button.green.default:focus{background-color:#307d59}.button.green.ghost{background-color:transparent;border:1px solid rgba(68,179,127,.3);color:#44b37f}.button.green.ghost:hover{border:1px solid rgba(68,179,127,.5)}.button.green.ghost:focus{border:1px solid #44b37f;background-color:rgba(68,179,127,.1)}.button.brand.default{background-color:#62d3f5}.button.brand.default:hover{background-color:#32c5f2}.button.brand.default:focus{background-color:#0eb1e2}.button.brand.ghost{border:1px solid rgba(98,211,245,.3);color:#62d3f5;background:0 0}.button.brand.ghost:hover{border:1px solid rgba(98,211,245,.5)}.button.brand.ghost:focus{border:1px solid #62d3f5;background-color:rgba(98,211,245,.1)}.button.red.default{background-color:#f04848}.button.red.default:hover{background-color:#ec1d1d}.button.red.default:focus{background-color:#ca1111}.button.red.ghost{border:1px solid rgba(240,72,72,.3);color:#f04848;background:0 0}.button.red.ghost:hover{border:1px solid rgba(240,72,72,.5)}.button.red.ghost:focus{border:1px solid #f04848;background-color:rgba(240,72,72,.1)}.button.yellow.default{background-color:#faa51b}.button.yellow.default:hover{background-color:#e69105}.button.yellow.default:focus{background-color:#be7704}.button.yellow.ghost{border:1px solid rgba(250,165,27,.3);color:#faa51b;background:0 0}.button.yellow.ghost:hover{border:1px solid rgba(250,165,27,.5)}.button.yellow.ghost:focus{border:1px solid #faa51b;background-color:rgba(250,165,27,.1)}.button.black.default{background-color:#000}.button.black.ghost{border:1px solid rgba(0,0,0,.3);color:#000;background:0 0}.button.black.ghost:hover{border:1px solid rgba(0,0,0,.5)}.button.black.ghost:focus{border:1px solid #000;background-color:rgba(0,0,0,.1)}.button.white.default{background-color:#fff;color:#000}.button.white.default:hover{background-color:#d9d9d9}.button.white.default:focus{background-color:#b3b3b3}.button.white.ghost{background-color:transparent;border:1px solid rgba(255,255,255,.3);color:#fff}.button.white.ghost:hover{border:1px solid rgba(255,255,255,.5)}.button.white.ghost:focus{border:1px solid #fff;background-color:rgba(255,255,255,.1)}.button.green.default{background-color:#44b37f}.button.green.default:hover{background-color:#3a986c}.button.green.default:focus{background-color:#307d59}.button.green.ghost{background-color:transparent;border:1px solid rgba(68,179,127,.3);color:#44b37f}.button.green.ghost:hover{border:1px solid rgba(68,179,127,.5)}.button.green.ghost:focus{border:1px solid #44b37f;background-color:rgba(68,179,127,.1)}.button.rounded{height:30px;border-radius:30px;padding:0 17px;font-weight:400;font-size:12px;line-height:1;border:1.5px solid #fff!important;opacity:.6;-ms-filter:"alpha(opacity=60)";filter:alpha(opacity=60);-webkit-transition:opacity 175ms ease-out;-moz-transition:opacity 175ms ease-out;-o-transition:opacity 175ms ease-out;-ms-transition:opacity 175ms ease-out;transition:opacity 175ms ease-out}.button.rounded:hover{opacity:1;-ms-filter:none;filter:none}.button.small{padding:5px 15px}.button.large{height:60px}.button.grow{width:100%}.button.disabled{color:rgba(255,255,255,.4);background-color:#41464b;border:0;cursor:auto}
.ModalContainer{z-index:2000;position:fixed;left:0;top:0;width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-transition:background-color 170ms ease-out;-moz-transition:background-color 170ms ease-out;-o-transition:background-color 170ms ease-out;-ms-transition:background-color 170ms ease-out;transition:background-color 170ms ease-out;background-color:rgba(0,0,0,.8)}.ModalContainer.Modal-enter{background-color:transparent}.ModalContainer.Modal-enter .Modal{opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-animation:blowUpModal .25s cubic-bezier(.165,.84,.44,1) forwards;-moz-animation:blowUpModal .25s cubic-bezier(.165,.84,.44,1) forwards;-o-animation:blowUpModal .25s cubic-bezier(.165,.84,.44,1) forwards;-ms-animation:blowUpModal .25s cubic-bezier(.165,.84,.44,1) forwards;animation:blowUpModal .25s cubic-bezier(.165,.84,.44,1) forwards}.ModalContainer.Modal-enter.Modal-enter-active{background-color:rgba(0,0,0,.8)}.ModalContainer.Modal-enter.Modal-enter-active .Modal{opacity:1;-ms-filter:none;filter:none}.ModalContainer.Modal-leave{background-color:rgba(0,0,0,.8)}.ModalContainer.Modal-leave .Modal{opacity:1;-ms-filter:none;filter:none;-webkit-animation:blowUpModalOut .25s cubic-bezier(.165,.84,.44,1) forwards;-moz-animation:blowUpModalOut .25s cubic-bezier(.165,.84,.44,1) forwards;-o-animation:blowUpModalOut .25s cubic-bezier(.165,.84,.44,1) forwards;-ms-animation:blowUpModalOut .25s cubic-bezier(.165,.84,.44,1) forwards;animation:blowUpModalOut .25s cubic-bezier(.165,.84,.44,1) forwards}.ModalContainer.Modal-leave.Modal-leave-active{background-color:transparent}.ModalContainer.Modal-leave.Modal-leave-active .Modal{opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0)}.Modal{background-color:#2f3336;border-radius:4px;width:580px;max-height:calc(100% - 100px);display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-transition:opacity 250ms ease-out;-moz-transition:opacity 250ms ease-out;-o-transition:opacity 250ms ease-out;-ms-transition:opacity 250ms ease-out;transition:opacity 250ms ease-out}@media(max-width:640px){.Modal{width:100%;height:100%;max-height:100%;border-radius:0}}.ModalHeader{position:relative;width:100%;padding:25px}.ModalHeader.ModalHeaderDivider{-webkit-box-shadow:0 1px 0 0 rgba(0,0,0,.2),0 1px 2px 0 rgba(0,0,0,.2);box-shadow:0 1px 0 0 rgba(0,0,0,.2),0 1px 2px 0 rgba(0,0,0,.2)}.ModalHeader h1,.ModalHeader h2,.ModalHeader h3{padding:0}.ModalHeader .ModalHeaderCross{background-color:#1f2225;border-radius:3px;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;padding:10px;right:15px;top:17px;position:absolute;cursor:pointer}.ModalHeader .ModalHeaderCross img{width:12px;opacity:.5;-ms-filter:"alpha(opacity=50)";filter:alpha(opacity=50)}.ModalHeader .ModalHeaderCross:hover img{opacity:.9;-ms-filter:"alpha(opacity=90)";filter:alpha(opacity=90)}.ModalContent{width:100%;padding:0 15px;overflow-y:scroll;-ms-overflow-style:none}.ModalContent::-webkit-scrollbar{display:none}.ModalFooter{width:100%;background-color:#272b2e;padding:15px;border-radius:0 0 3px 3px;margin-top:auto}.ModalFooter button{margin-left:10px}@-moz-keyframes blowUpModal{0%{-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-webkit-keyframes blowUpModal{0%{-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-o-keyframes blowUpModal{0%{-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@keyframes blowUpModal{0%{-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-moz-keyframes blowUpModalOut{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(.7);-moz-transform:scale(.7);-o-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7)}}@-webkit-keyframes blowUpModalOut{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(.7);-moz-transform:scale(.7);-o-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7)}}@-o-keyframes blowUpModalOut{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(.7);-moz-transform:scale(.7);-o-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7)}}@keyframes blowUpModalOut{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(.7);-moz-transform:scale(.7);-o-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7)}}