<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="700" viewBox="0 0 507.99999 243.41668" version="1.1">
    <defs id="defs2">
      <clipPath id="avatarClip" clipPathUnits="userSpaceOnUse">
        <circle r="52.916668" cy="118.83292" cx="110.00655"/>
      </clipPath>
    </defs>
    <metadata>
      <rdf:RDF>
        <cc:Work>
          <dc:format>image/svg+xml</dc:format>
          <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g transform="translate(0,-53.583326)">
      <rect ry="15.951289" y="53.583324" x="0" height="243.41667" width="508"/>
      <image transform="translate(-24.016968,-4.395422)" clip-path="url(#avatarClip)" y="65.916252" x="57.089886" xlink:href="{{AvatarURL}}" preserveAspectRatio="none" height="105.83334" width="105.83334"/>
      <text y="125.19304" x="169.57578" xml:space="preserve"><tspan style="fill:#ffffff;font-size:30.57230377px;font-weight:bold;font-family:Arial;" y="125.19304" x="169.57578">{{Username}}</tspan></text>
      <rect ry="6.8375864" y="184.72302" x="85.989586" height="102.8456" width="385.88315" style="stroke:#ffffff;stroke-width:2.64583338;"/>
      <text y="199.79579" x="89.958336" xml:space="preserve"><tspan style="" y="199.79579" x="89.958336"><tspan style="font-family:Arial;fill:#ffffff;font-size:11.99444485px;" y="199.79579" x="89.958336">{{Description}}</tspan></tspan></text>
      <circle r="11.525808" cy="154.125" cx="125.67709" style="fill:{{StatusIndicator}};stroke:#000000;stroke-width:2.64583338;"/>
    </g>
</svg>